@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-style: medium;
}
@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    src: local("MyFont"),
        url(./fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
    font-style: light;
}
@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/OpenSans/OpenSans-Medium.ttf) format("truetype");
    font-style: medium;
}
@font-face {
    font-family: "OpenSans";
    font-weight: 600;
    src: local("MyFont"),
        url(./fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
    font-style: semibold;
}
@font-face {
    font-family: "OpenSans";
    font-weight: 700;
    src: local("MyFont"),
        url(./fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
    font-style: bold;
}

html,
body {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -webkit-overflow-scrolling: touch !important;
    overflow: hidden !important;
    overscroll-behavior-y: none !important;
    -webkit-user-select: none;
    margin: 0;
    font-family: "OpenSans" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-padding: 0;
    @apply font-normal text-base text-black dark:text-white transition-colors duration-150 ease-linear background-color h-screen overflow-hidden;
    outline: none;
}

header,
footer {
    font-family: "Montserrat" !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* header burger menu */
.hamburger {
    @apply absolute top-1/2 -translate-y-1/2 right-0 hidden;
}

label {
    @apply flex flex-col w-8 cursor-pointer;
}

label span {
    @apply bg-black dark:bg-white h-[4px] rounded-[10px];
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    width: 50%;
    transform: rotatez(45deg) translate(4px, 1px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(12.5px, -6px) rotatez(45deg);
}

@media screen and (max-width: 900px) {
    #header-logo {
        @apply absolute left-1/2 -translate-x-1/2 top-2.5 !important;
    }
    .hamburger {
        @apply block;
    }

    .nav-item {
        @apply hidden;
    }
}

@media screen and (min-width: 900px) {
    ::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}
.nav-item {
    @apply relative h-full cursor-pointer pb-2;
}

video {
    clip-path: inset(1px 1px);
}

@layer base {
    .background-color {
        @apply bg-white dark:bg-black;
    }
    .blue-text {
        @apply text-blue dark:text-lightblue;
    }
    .border-color {
        @apply border-black dark:border-white;
    }
    .main-width {
        @apply w-5/6 mx-auto;
    }
}
