@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-style: medium;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-style: semibold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-style: bold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
    font-style: extrabold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
    font-style: black;
}

@font-face {
    font-family: "DMSans";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "DMSans";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-Medium.ttf) format("truetype");
    font-style: medium;
}

@font-face {
    font-family: "DMSans";
    font-weight: 600;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-SemiBold.ttf) format("truetype");
    font-style: semibold;
}
@font-face {
    font-family: "DMSans";
    font-weight: 700;
    src: local("MyFont"), url(./fonts/DMSans/DMSans-Bold.ttf) format("truetype");
    font-style: bold;
}

body {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -webkit-overflow-scrolling: touch !important;
    /* overflow: hidden !important; */
    overscroll-behavior-y: none !important;
    -webkit-user-select: none;
    margin: 0;
    font-family: "Montserrat" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-padding: 0;
    @apply font-normal text-base text-black dark:text-white transition-all duration-150 ease-linear background-color overflow-y-scroll;
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* header burger menu */
.hamburger {
    @apply absolute top-1/2 -translate-y-1/2 right-0 hidden;
}

label {
    @apply flex flex-col w-8 cursor-pointer;
}

label span {
    @apply bg-black dark:bg-white h-[4px] rounded-[10px];
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    width: 50%;
    transform: rotatez(45deg) translate(4px, 1px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(12.5px, -6px) rotatez(45deg);
}

@media screen and (max-width: 920px) {
    .text-sm {
        font-size: 16px !important;
    }
    .text-base {
        font-size: 18px !important;
    }
    .text-big {
        font-size: 20px !important;
    }
    .text-bigger {
        font-size: 28px !important;
    }
    .text-huge {
        font-size: 32px !important;
    }

    .text-biggest {
        font-size: 48px !important;
    }

    #header-logo {
        @apply absolute  left-1/2  -translate-x-1/2 top-2.5 !important;
    }
    .hamburger {
        @apply block;
    }

    .nav-item {
        @apply hidden;
    }
}

@media screen and (min-width: 851px) and (max-width: 1180px) {
    .text-sm {
        font-size: 18px !important;
    }
    .text-base {
        font-size: 22px !important;
    }
    .text-big {
        font-size: 28px !important;
    }
    .text-bigger {
        font-size: 32px !important;
    }
    .text-huge {
        font-size: 48px !important;
    }

    .text-biggest {
        font-size: 64px !important;
    }
}

::-webkit-scrollbar {
    width: 0 !important;
    display: none !important;
}
/* @media screen and (min-width: 900px) {
} */
.nav-item {
    @apply relative h-full cursor-pointer pb-2 text-sm;
}

video {
    clip-path: inset(1px 1px);
}

@layer base {
    .background-color {
        @apply bg-white dark:bg-black;
    }
    .blue-text {
        @apply text-blue dark:text-white;
    }
    .border-color {
        @apply border-black dark:border-white;
    }
    .main-width {
        @apply w-5/6 mx-auto;
    }
    .card-bg {
        @apply bg-white dark:bg-blue;
    }
    .font-dm {
        font-family: "DMSans" !important;
    }
    .text-reverse {
        @apply text-white dark:text-black;
    }
}

.gradient-border {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
        to bottom,
        rgba(236, 29, 36, 1),
        rgba(0, 67, 210, 1)
    );
}

.my-col-5 {
    @apply flex flex-col gap-y-5;
}
.my-col-10 {
    @apply flex flex-col gap-y-10;
}
.my-col-20 {
    @apply flex flex-col gap-y-20;
}

.center {
    @apply top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}
