@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-style: medium;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-style: semibold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-style: bold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
    font-style: extrabold;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: local("MyFont"),
        url(./fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
    font-style: black;
}

@font-face {
    font-family: "DMSans";
    font-weight: 400;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "DMSans";
    font-weight: 500;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-Medium.ttf) format("truetype");
    font-style: medium;
}

@font-face {
    font-family: "DMSans";
    font-weight: 600;
    src: local("MyFont"),
        url(./fonts/DMSans/DMSans-SemiBold.ttf) format("truetype");
    font-style: semibold;
}
@font-face {
    font-family: "DMSans";
    font-weight: 700;
    src: local("MyFont"), url(./fonts/DMSans/DMSans-Bold.ttf) format("truetype");
    font-style: bold;
}
@font-face {
    font-family: "Lustria";
    font-weight: 400;
    src: local("MyFont"), url(./fonts/Lustria.ttf) format("truetype");
}

body {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: none !important;
    /* overflow: hidden !important; */
    overscroll-behavior-y: none !important;
    -webkit-user-select: none;
    margin: 0;
    font-family: "DMSans" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-padding: 0;
    @apply font-normal text-base text-black dark:text-white transition-all duration-150 ease-linear background-color overflow-y-scroll;
    outline: none;
}

.lustria {
    font-family: "Lustria" !important;
}

input {
    @apply outline-none !important;
}
* {
    -webkit-tap-highlight-color: transparent;
}

span {
    @apply text-colina !important;
}

/* header burger menu */
.hamburger {
    @apply absolute top-1/2 -translate-y-1/2 right-0 hidden;
}

label {
    @apply flex flex-col w-8 cursor-pointer;
}

label span {
    @apply bg-black dark:bg-white h-[4px] rounded-[10px];
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    width: 50%;
    transform: rotatez(45deg) translate(4px, 1px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(12.5px, -6px) rotatez(45deg);
}

@media screen and (max-width: 920px) {
    .text-sm {
        font-size: 16px !important;
    }
    .text-base {
        font-size: 18px !important;
    }
    .text-big {
        font-size: 20px !important;
    }
    .text-bigger {
        font-size: 28px !important;
    }
    .text-huge {
        font-size: 32px !important;
    }

    .text-biggest {
        font-size: 48px !important;
    }

    #header-logo {
        @apply absolute  left-1/2  -translate-x-1/2 top-2.5 !important;
    }
    .hamburger {
        @apply block;
    }

    .nav-item {
        @apply hidden;
    }
}

@media screen and (min-width: 851px) and (max-width: 1180px) {
    .text-sm {
        font-size: 18px !important;
    }
    .text-base {
        font-size: 22px !important;
    }
    .text-big {
        font-size: 28px !important;
    }
    .text-bigger {
        font-size: 32px !important;
    }
    .text-huge {
        font-size: 48px !important;
    }

    .text-biggest {
        font-size: 64px !important;
    }
}

::-webkit-scrollbar {
    width: 0 !important;
    display: none !important;
}
/* @media screen and (min-width: 900px) {
} */
.nav-item {
    @apply relative h-full cursor-pointer pb-2 text-sm;
}

video {
    clip-path: inset(0px);
}

@layer base {
    .background-color {
        @apply bg-white dark:bg-black;
    }

    .blue-text {
        @apply text-blue dark:text-white;
    }
    .border-color {
        @apply border-black dark:border-white;
    }

    .bg-gradient {
        @apply bg-gradient-to-b from-blue to-red dark:to-black;
    }

    .bg-gradient:hover {
        background-image: none !important;
        transition: background-color 500ms !important;
    }

    .main-width {
        @apply w-5/6 mx-auto;
    }
    .card-bg {
        @apply bg-white dark:bg-blue;
    }
    .font-mont {
        font-family: "Montserrat" !important;
    }

    .gradient-border {
        @apply relative;
    }

    .gradient-border::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 24px;
        padding: 2px;
        background: linear-gradient(to bottom, #ec1d24, #0043d2);
        -webkit-mask: linear-gradient(to bottom, white, white) content-box,
            linear-gradient(to bottom, white, white);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .colina-border {
        border: 5px solid;
        border-image: linear-gradient(to bottom, #e3a463, #0043d2) 1;
    }

    .gradient-border:hover,
    .blue-border:hover {
        scale: 105%;
    }

    .blue-border {
        @apply border-blue border-2 hover:border-none;
    }

    .gradient-border:hover::before {
        background: none !important;
    }

    .reverse-border:hover::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        padding: 5px;
        background: linear-gradient(to bottom, #e3a463, #0043d2);
        -webkit-mask: linear-gradient(to bottom, white, white) content-box,
            linear-gradient(to bottom, white, white);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .text-big,
    .text-bigger,
    .text-huge,
    .text-84,
    .text-biggest {
        @apply font-mont;
    }

    .text-reverse {
        @apply text-white dark:text-black;
    }
    .bg-reverse {
        @apply bg-blue dark:bg-white;
    }

    .my-button {
        @apply font-mont rounded-full py-2.5 px-5 card-bg text-blue dark:text-white text-reverse text-[15px] cursor-pointer transition-all duration-300;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .my-button:hover {
        @apply bg-reverse text-white dark:text-blue shadow-none;
    }
}

.my-col-5 {
    @apply flex flex-col gap-y-5;
}
.my-col-10 {
    @apply flex flex-col gap-y-10;
}
.my-col-20 {
    @apply flex flex-col gap-y-20;
}

.center {
    @apply top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

.ios-switch i {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    @apply bg-[#efefef] rounded-full;
}

.ios-switch i::after {
    content: "";
    background-image: url("/images/sun.png");
    transform: translate3d(2px, 2px, 0);
    transition: all 0.3s ease-in-out;
    @apply rounded-full bg-white w-[26px] h-[26px] inset-0 absolute;
}
/* 
.ios-switch i::before {
    content: "LIGHT";
    transform: translate3d(-5%, 50%, 0);
    @apply not-italic text-[10px] font-semibold text-end text-black absolute;
} */

.ios-switch input {
    display: none;
}
.ios-switch input:checked + i {
    @apply bg-[#222222];
}

.ios-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
    content: "";
    background-image: url("/images/moon.png");
    background-color: white;
}

/* .ios-switch input:checked + i::before {
    content: "DARK";
    transform: translate3d(-95%, 50%, 0);
    @apply text-white;
} */

.slogan-card {
    @apply aspect-[1.5] md:w-full md:h-auto w-[250px] h-[250px];
}

.react-slideshow-container + .indicators {
    @apply absolute left-1/2 -translate-x-1/2 bottom-4 md:bottom-8 m-0 !important;
}

.react-slideshow-container + ul.indicators li {
    @apply px-2 md:px-4 last:px-0 !important;
}

.react-slideshow-container + .indicators li button::before {
    @apply w-2.5 h-2.5 md:w-5 md:h-5 bg-white rounded-full !important;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator {
    @apply opacity-50 !important;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator.active {
    @apply opacity-100 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    @apply text-black/80 text-huge font-bold !important;
}
.swiper-button-next,
.swiper-button-prev {
    @apply z-50 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    @apply -bottom-10 !important;
}

.swiper {
    overflow: visible !important;
}
.swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.5);
    @apply h-2.5 w-2.5 !important;
}
.swiper-pagination-bullet-active {
    background: black !important;
}
